<head>

    <!--- basic page needs
        ================================================== -->
    <header class="s-header">

        <div class="header-logo">
            <a class="smoothscroll" href="#home"><i class="fas fa-home"></i></a>

        </div>

        <nav class="header-nav-wrap">
            <ul class="header-nav">
                <li class="current"><a class="smoothscroll" href="#home" title="home">Anasayfa</a></li>
                <li><a class="smoothscroll" href="#about" title="about">Hakkımda</a></li>
                <li><a class="smoothscroll" href="#works" title="works">Projelerim</a></li>
                <li><a class="smoothscroll" href="#contact" title="contact">İletişim</a></li>
            </ul>
        </nav>

        <a class="header-menu-toggle" href="#0"><span>Menu</span></a>

    </header>
    <meta charset="utf-8">
    <title>Süleyman Değirmenci</title>
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- mobile specific metas
    ================================================== -->
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- CSS
    ================================================== -->
    <link rel="stylesheet" href="~/hola-master/css/base.css">
    <link rel="stylesheet" href="~/hola-master/css/vendor.css">
    <link rel="stylesheet" href="~/hola-master/css/main.css">

    <!-- script
    ================================================== -->
    <script src="~/hola-master/js/modernizr.js"></script>
    <script src="~/hola-master/js/pace.min.js"></script>

    <!-- favicons
    ================================================== -->
    <link rel="shortcut icon" href="~/hola-master/favicon.ico" type="image/x-icon">
    <link rel="icon" href="~/hola-master/favicon.ico" type="image/x-icon">

</head>