<section id="works" class="s-works target-section">

    <div class="row narrow section-intro has-bottom-sep">
        <div class="col-full">
            <h3>Portfolyo</h3>
            <h1>Son Projelerime Göz Atabilirsiniz.</h1>

            <p class="lead">Aşağıda, dövme projelerimden örnekler yer almaktadır. Her bir çalışma, çeşitli tarzlarda ve tekniklerde yapılmış olup, farklı müşteriler için özelleştirilmiştir. Sanat ve estetik açıdan dikkatle tasarlanmış bu dövmeler, dövme yapımındaki profesyonel yaklaşımımı ve titizliğimi yansıtmaktadır.</p>
        </div>
    </div>

    <div class="row masonry-wrap">
        <div class="masonry">

            <div class="masonry__brick">
                <div class="item-folio">

                    <div class="item-folio__thumb">
                        <a href="/images/buda.jpeg" class="thumb-link" title="Buda" data-size="750x850">
                            <img src="~/images/buda.jpeg" img/>
                                
                            <span class="shadow-overlay"></span>
                        </a>
                    </div>

                    <div class="item-folio__text">
                        <h3 class="item-folio__title">
                            Buda
                        </h3>
                        <p class="item-folio__cat">
                            Colorfull
                        </p>
                    </div>

                  

                    <div class="item-folio__caption">
                        <p>Vero molestiae sed aut natus excepturi. Et tempora numquam. Temporibus iusto quo.Unde dolorem corrupti neque nisi.</p>
                    </div>

                </div> <!-- end item-folio -->
            </div> <!-- end masonry__brick -->

            <div class="masonry__brick">
                <div class="item-folio">

                    <div class="item-folio__thumb">
                        <a href="/images/dali.jpeg" class="thumb-link" title="Salvador Dali" data-size="828x828">
                            <img src="/images/dali.jpeg" img/>
                                
                            <span class="shadow-overlay"></span>
                        </a>
                    </div>

                    <div class="item-folio__text">
                        <h3 class="item-folio__title">
                            Salvador Dali
                        </h3>
                        <p class="item-folio__cat">
                             Design
                        </p>
                    </div>
                   
                    <div class="item-folio__caption">
                        <p>Vero molestiae sed aut natus excepturi. Et tempora numquam. Temporibus iusto quo.Unde dolorem corrupti neque nisi.</p>
                    </div>

                </div> <!-- end item-folio -->
            </div> <!-- end masonry__brick -->

            <div class="masonry__brick">
                <div class="item-folio">

                    <div class="item-folio__thumb">
                        <a href="/images/leon.jpeg" class="thumb-link" data-size="825x825">
                            <img src="/images/leon.jpeg" img/>
                                 
                            <span class="shadow-overlay"></span>
                        </a>
                    </div>

                    <div class="item-folio__text">
                        <h3 class="item-folio__title">
                            The Leon
                        </h3>
                        <p class="item-folio__cat">
                            Design
                    </div>

                  

                    <span class="item-folio__caption">
                        <p>Vero molestiae sed aut natus excepturi. Et tempora numquam. Temporibus iusto quo.Unde dolorem corrupti neque nisi.</p>
                    </span>

                </div> <!-- end item-folio -->
            </div> <!-- end masonry__brick -->


            <div class="masonry__brick">
                <div class="item-folio">

                    <div class="item-folio__thumb">
                        <a href="/images/theeye.jpeg" class="thumb-link" data-size="830x930">
                            <img src="/images/theeye.jpeg" img />
                         
                            <span class="shadow-overlay"></span>
                        </a>
                    </div>

                    <div class="item-folio__text">
                        <h3 class="item-folio__title">
                            The Eye
                        </h3>
                        <p class="item-folio__cat">
                            Design
                        </p>
                    </div>

                

                    <span class="item-folio__caption">
                        <p>Vero molestiae sed aut natus excepturi. Et tempora numquam. Temporibus iusto quo.Unde dolorem corrupti neque nisi.</p>
                    </span>

                </div> <!-- end item-folio -->
            </div> <!-- end masonry__brick -->

            <div class="masonry__brick">
                <div class="item-folio">

                    <div class="item-folio__thumb">
                        <a href="/images/dikeys.jpeg" class="thumb-link" data-size="850x1000">
                            <img src="/images/dikeys.jpeg" img />
              
                            <span class="shadow-overlay"></span>
                        </a>
                    </div>

                    <div class="item-folio__text">
                        <h3 class="item-folio__title">
                            Artist
                        </h3>
                        <p class="item-folio__cat">
                            Süleyman Değirmenci
                        </p>
                    </div>

                   

                    <span class="item-folio__caption">
                        <p>Vero molestiae sed aut natus excepturi. Et tempora numquam. Temporibus iusto quo.Unde dolorem corrupti neque nisi.</p>
                    </span>

                </div> <!-- end item-folio -->
            </div> <!-- end masonry__brick -->

            <div class="masonry__brick">
                <div class="item-folio">

                    <div class="item-folio__thumb">
                        <a href="/images/elephant.jpeg" class="thumb-link" data-size="3000x4000">
                            <img src="/images/elephant.jpeg" img />
                        
                            <span class="shadow-overlay"></span>
                        </a>
                    </div>

                    <div class="item-folio__text">
                        <h3 class="item-folio__title">
                            Elephant
                        </h3>
                        <p class="item-folio__cat">
                            Design
                        </p>
                    </div>

                    
                    <span class="item-folio__caption">
                        <p>Vero molestiae sed aut natus excepturi. Et tempora numquam. Temporibus iusto quo.Unde dolorem corrupti neque nisi.</p>
                    </span>

                </div> <!-- end item-folio -->
            </div> <!-- end masonry__brick -->

            <div class="masonry__brick">
                <div class="item-folio">

                    <div class="item-folio__thumb">
                        <a href="/images/Harry.jpeg" class="thumb-link" data-size="3000x4000">
                            <img src="/images/Harry.jpeg" img />
                                
                            <span class="shadow-overlay"></span>
                        </a>
                    </div>

                    <div class="item-folio__text">
                        <h3 class="item-folio__title">
                            Harry Potter
                        </h3>
                        <p class="item-folio__cat">
                            The Chosen one 
                        </p>
                    </div>

                  
                    <span class="item-folio__caption">
                        <p>Vero molestiae sed aut natus excepturi. Et tempora numquam. Temporibus iusto quo.Unde dolorem corrupti neque nisi.</p>
                    </span>

                </div> <!-- end item-folio -->
            </div> <!-- end masonry__brick -->

            <div class="masonry__brick">
                <div class="item-folio">

                    <div class="item-folio__thumb">
                        <a href="/images/nasus.jpeg" class="thumb-link" data-size="3000x4000">
                            <img src="/images/nasus.jpeg" img />

                            <span class="shadow-overlay"></span>
                        </a>
                    </div>

                    <div class="item-folio__text">
                        <h3 class="item-folio__title">
                            Lord
                        </h3>
                        <p class="item-folio__cat">
                            Design
                        </p>
                    </div>

                    

                    <span class="item-folio__caption">
                        <p>Vero molestiae sed aut natus excepturi. Et tempora numquam. Temporibus iusto quo.Unde dolorem corrupti neque nisi.</p>
                    </span>

                </div> <!-- end item-folio -->
            </div> <!-- end masonry__brick -->
            <div class="masonry__brick">
                <div class="item-folio">

                    <div class="item-folio__thumb">
                        <a href="/images/sulo1.jpeg" class="thumb-link" data-size="960x1280">
                            <img src="/images/sulo1.jpeg" img />

                            <span class="shadow-overlay"></span>
                        </a>
                    </div>

                    <div class="item-folio__text">
                        <h3 class="item-folio__title">
                            Artist  
                        </h3>
                        <p class="item-folio__cat">
                            Süleyman Değirmenci
                        </p>
                    </div>



                    <span class="item-folio__caption">
                        <p>Vero molestiae sed aut natus excepturi. Et tempora numquam. Temporibus iusto quo.Unde dolorem corrupti neque nisi.</p>
                    </span>
                </div> <!-- end item-folio -->
            </div> <!-- end masonry__brick -->

            <div class="masonry__brick">
                <div class="item-folio">

                    <div class="item-folio__thumb">
                        <a href="/images/sulo2.jpeg" class="thumb-link" data-size="960x1280">
                            <img src="/images/sulo2.jpeg" img />

                            <span class="shadow-overlay"></span>
                        </a>
                    </div>

                    <div class="item-folio__text">
                        <h3 class="item-folio__title">
                            Artist
                        </h3>
                        <p class="item-folio__cat">
                            Süleyman Değirmenci
                        </p>
                    </div>



                    <span class="item-folio__caption">
                        <p>Vero molestiae sed aut natus excepturi. Et tempora numquam. Temporibus iusto quo.Unde dolorem corrupti neque nisi.</p>
                    </span>
                </div> <!-- end item-folio -->
            </div> <!-- end masonry__brick -->

            <div class="masonry__brick">
                <div class="item-folio">

                    <div class="item-folio__thumb">
                        <a href="/images/thor.jpeg" class="thumb-link" data-size="4000x5000">
                            <img src="/images/thor.jpeg" img />

                            <span class="shadow-overlay"></span>
                        </a>
                    </div>

                    <div class="item-folio__text">
                        <h3 class="item-folio__title">
                            Thor
                        </h3>
                        <p class="item-folio__cat">
                            Design
                        </p>
                    </div>



                    <span class="item-folio__caption">
                        <p>Vero molestiae sed aut natus excepturi. Et tempora numquam. Temporibus iusto quo.Unde dolorem corrupti neque nisi.</p>
                    </span>
                </div> <!-- end item-folio -->
            </div> <!-- end masonry__brick -->
            <div class="masonry__brick">
                <div class="item-folio">

                    <div class="item-folio__thumb">
                        <a href="/images/zumru.jpeg" class="thumb-link" data-size="3000x4000">
                            <img src="/images/zumru.jpeg" img />

                            <span class="shadow-overlay"></span>
                        </a>
                    </div>

                    <div class="item-folio__text">
                        <h3 class="item-folio__title">
                            Anka

                        </h3>
                        <p class="item-folio__cat">
                            Design
                        </p>
                    </div>



                    <span class="item-folio__caption">
                        <p>Vero molestiae sed aut natus excepturi. Et tempora numquam. Temporibus iusto quo.Unde dolorem corrupti neque nisi.</p>
                    </span>
                </div> <!-- end item-folio -->
            </div> <!-- end masonry__brick -->


        </div>
    </div> <!-- end masonry -->

</section>