<section id="contact" class="s-contact target-section" style="background-image: url('/images/sulo10.jpeg'); background-size: cover; background-position: center; background-repeat: no-repeat;">
    <div class="overlay"></div>

    <div class="row narrow section-intro">
        <div class="col-full">
            <h3 style="color: #f0f0f0;">İletişim</h3>
            <h1 style="color: #f0f0f0;">Bana Ulaşın.</h1>

            <p class="lead" style="color: #f0f0f0;">
                Ben, Antalya Alanya'da dövmecilik yapan bir sanatçıyım. Sanatımda müşteri memnuniyetini ön planda tutarak, kişisel ve özgün tasarımlar oluşturmayı hedefliyorum. Profesyonel dövme hizmetlerimle ilgili bilgi almak, randevu oluşturmak veya tasarımlarımı görmek için aşağıdaki iletişim bilgilerini kullanabilirsiniz.
            </p>
        </div>
    </div>

    <div class="row contact__main">
        <div class="col-eight tab-full contact__form">
            <h4 style="color: #f0f0f0;">İletişim Bilgileri</h4>
            <div class="contact-details" style="background: rgba(50, 50, 50, 0.8); padding: 15px; border-radius: 8px; color: #f0f0f0;">
                <div class="contact-item">
                    <h5 style="color: #f0f0f0;">Telefon:</h5>
                    <p>
                        <a href="tel:+905534310982" style="text-decoration: none; color: #f0f0f0;">(+90) 553 431 0982</a>
                        <a href="https://wa.me/905534310982" target="_blank" style="margin-left: 10px; background-color: #25D366; color: white; padding: 10px; border-radius: 5px; text-decoration: none; display: inline-flex; align-items: center;">
                            <img src="https://upload.wikimedia.org/wikipedia/commons/6/6b/WhatsApp.svg" alt="WhatsApp" style="width: 20px; height: 20px; margin-right: 5px;">
                            WhatsApp ile İletişime Geç
                        </a>
                    </p>
                </div>
                <div class="contact-item">
                    <h5 style="color: #f0f0f0;">Email:</h5>
                    <p>
                        <a href="mailto:s.degrmc@gmail.com" style="text-decoration: none; color: #f0f0f0;">s.degrmc@gmail.com</a>
                    </p>
                </div>
                <div class="contact-item">
                    <h5 style="color: #f0f0f0;">Adres:</h5>
                    <p style="color: #f0f0f0;">Alanya - Antalya</p>
                </div>
            </div>
        </div>
    </div>
</section>
