@{
    Layout = null; 
}

<!DOCTYPE html>
<html lang="en">
<head>
    

    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="~/hola-master/css/base.css" />
    <link rel="stylesheet" href="~/hola-master/css/fonts.css" />
    <link rel="stylesheet" href="~/hola-master/css/main.css" />
    <link rel="stylesheet" href="~/hola-master/css/vendor.css" />
</head>
<body>
  

    <script src="~/hola-master/js/jquery-3.2.1.min.js"></script>
    <script src="~/hola-master/js/main.js"></script>
    <script src="~/hola-master/js/modernizr.js"></script>
    <script src="~/hola-master/js/pace.min.js"></script>
    <script src="~/hola-master/js/plugins.js"></script>
</body>
</html>
